In [5]:
# 1.
lst = [1,2,3,4]
print(lst)

lst.append(5) # at last only
print("After append :- ", lst)

lst.insert(2, 9) # at any position you want
print("After Insertion :- ", lst)

[1, 2, 3, 4]
After append :-  [1, 2, 3, 4, 5]
After Insertion :-  [1, 2, 9, 3, 4, 5]

In [25]:
# 2.
lst2 = [1, 2, 3, 4]
lst2.remove(2) # deletes the value
del lst2[2]  # not a function, its an operator, deletes by using index
lst2.pop() # deletes last item

print(lst2)

[1]

In [29]:
# # 3.range() :- 
#      i.mostly used in looping 
#      ii.return values from start to end-1 as shown in the syntax
#      iii.range(start, end, n+1)
#      iv.n is nothing but defines the value of distance
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [35]:
#4.
a=5 # to asign the value to the varibale 
print(a==5) # to compare the value, returns bool

print(a)

True
5

In [37]:
# 5.
string = "REVERSE"
print(string[::-1])

ESREVER

In [41]:
# 6.
num = 25
lst = []

for i in range(10, 51):
    for j in range(2, i):
        if i%2!=0:
            lst.append(i)
            break
lst

[11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [44]:
# 7. 
sum = 0
for i in range(1, 101):
    sum+=i
print(sum)

5050

In [45]:
# 8.
list1 = [1, 3, 2]
print(list1*2)

[1, 3, 2, 1, 3, 2]

In [48]:
# 9.
lst3 = [85, 25, 63]
length = len(lst3)
sum1 = 0
for i in lst3:
    sum1+=i
    
print("Average is ", sum1/length)

Average is  57.666666666666664

In [52]:
# 10.
a = int(input("Enter number :- "))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else :
    print("Zero")

Enter number :- 25
Positive

In [53]:
# 11.
num = 55
if num%5==0 and num%11==0:
    print("Divisible by 5 and 11")
else:
    print("Not divisible by...")

Divisible by 5 and 11

In [58]:
# 12.
invest = 36000
retrn = 90000
if retrn>invest:
    print("Profit of ",retrn-invest)
elif retrn<invest:
    print("Loss of ", invest-retrn)
else:
    print("Same as invested")

Profit of  54000

In [59]:
# 13.
bs = float(input("Enter basic salary :- "))
if bs<=10000:
    gs = bs+((bs*20)/100)+((bs*80)/100)
elif bs<=20000:
    gs = bs+((bs*25)/100)+((bs*90)/100)
elif bs>20000:
    gs = bs+((bs*30)/100)+((bs*95)/100)
    
print("Gross salary :- ",gs)

Enter basic salary :- 25000
Gross salary :-  56250.0

In [5]:
# 14.
uc = float(input("Enter the units :- "))

if uc <= 50:
    bill = uc*0.5   
elif uc <=(150):
    bill = uc*0.75 
elif uc <= (250):
    bill = uc*1.20
elif uc >250:
    bill = uc*1.50
    
subcharge = (uc*20/100)
bill+=subcharge
print("You have to pay the amt. of  :- ", bill)

Enter the units :- 251
You have to pay the amt. of  :-  426.7

In [7]:
# 15.
a = 25
b = 52
print("Before Swapping :- ", a, b)
a, b = b, a
print("After Swapping :- ", a, b)

Before Swapping :-  25 52
After Swapping :-  52 25

In [4]:
# 16. WAP and find lcm of two numbers
num1 = 25
num2 = 15
lst3 = []
while num1!=1 and num2!=1:
    for i in range(1,num1+1):
            while num1%i==0 and i!=1 and num2%i==0:
                if num1%i==0 and num2%i==0:
                    lst3.append(i)
                    num1//=i
                    num2//=i
            while num1%i==0 and i!=1:
                if num1%i==0:
                    lst3.append(i)
                    num1//=i               
            while i!=1 and num2%i==0:
                if num2%i==0:
                    lst3.append(i)
                    num2//=i
print(lst3)
lcm=1
for i in lst3:
    lcm*=i
print(lcm)

[3, 5, 5]
75

In [9]:
# 17.WAP to check the year is leap year or not .

year = 2024
if year%4==0:
    if year%100==0:
        if year %400==0:
            print("leap")
        else:
            print("no")
    else:
        print("leap")
else:
    print("no")

leap

In [12]:
# 18.Write a program to reverse a number in Python

num = 2522
string = str(num)
revnum = int(string[::-1])
print(revnum)
print(type(num))

2252
<class 'int'>

In [8]:
# 19.Write a program to find the sum of the digits of a number in Python
num = 2522
sum = 0
while num>1:
    temp=num%10
    num//=10
    sum+=temp
print(sum)

11

In [10]:
# 20.How to sort list of tuples.
lang_listtuple= [('C#',1), ('Go',7), ('Basic',8), ('Python',60)]
lang_listtuple.sort()
print(lang_listtuple)

[('Basic', 8), ('C#', 1), ('Go', 7), ('Python', 60)]

In [14]:
# 21.WAP for simple & compound interest in python.
p = 12000
r = 5
n = 3
t = 1
ci = p*((1+(r/100))**(n*t))
print("compound interest :- ", ci)
si = p*r*t
print("Simple interest :- ", si)

compound interest :-  13891.500000000002
Simple interest :-  60000

In [7]:
# 22.WAP to delete set of keys in dict

animaldict = {
  "name": "Dog",
  "age":5,
  "Weight": 4,
  "Country": "US",
  "City":"California"
}

remove = ["name", "age"]

for i in remove:
    animaldict.pop(i)
animaldict

{'Weight': 4, 'Country': 'US', 'City': 'California'}