In [1]:
# 1.Write a Python program to create a tuple.

T1 = (1, 2 , 3, 4)
print(T1)
print(type(T1))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
# 2.Write a Python program to create a tuple with different data types.

T2 = (1, 'a', 1+1j, 2.22)
print(T2)
print(type(T2))

(1, 'a', (1+1j), 2.22)
<class 'tuple'>

In [5]:
# 3.Write a Python program to create a tuple with numbers and print one item.

T3 = (1,2,3,4,44,4,4)
print(T3[0])
print(type(T3))

1
<class 'tuple'>

# Tuple is immutable, But we can add data in python in tuple like this :-

In [9]:
# 4.Write a Python program to add an item in a tuple.
L1 = list(T1)
L1.append(90.989)
T1 = tuple(L1)
print(T1)
print(type(T1))

(1, 2, 3, 4, 90.989, 90.989)
<class 'tuple'>

In [10]:
# 5.Write a Python program to convert a tuple to a string.

string = str(T1)
print(string)
print(type(string))

(1, 2, 3, 4, 90.989, 90.989)
<class 'str'>

In [14]:
# 6.Write a Python program to convert a list to a tuple.
print(L1)
print(type(L1))

# LOGIC
T4 = tuple(L1)

print(T4)
print(type(T4))

[1, 2, 3, 4, 90.989, 90.989]
<class 'list'>
(1, 2, 3, 4, 90.989, 90.989)
<class 'tuple'>

In [16]:
# 7.Write a Python program to remove an item from a tuple.
print(T1)
print(type(T1))

L2 = list(T1)
print("\n", L2)
print(type(L2))
L2.remove(2)

T1 = tuple(L2)
print("\n", T1)
print(type(T1))

(1, 2, 3, 4, 90.989, 90.989)
<class 'tuple'>

 [1, 2, 3, 4, 90.989, 90.989]
<class 'list'>

 (1, 3, 4, 90.989, 90.989)
<class 'tuple'>

In [22]:
# 8.Write a Python program to find the index of an item of a tuple.
print(T1)
print(type(T1))

L1 = list(T1)
ind = L1.index(4)

T1 = tuple(L1)
print("\n",T1)
print("Index of 3 is :- ", ind)
print(type(T1))

(1, 3, 4, 90.989, 90.989)
<class 'tuple'>

 (1, 3, 4, 90.989, 90.989)
Index of 3 is :-  2
<class 'tuple'>

In [23]:
# 9.Write a Python program to reverse a tuple.
print("Before reversing of tuple :- ", T1)
print(type(T1))

L1 = list(T1)
L1.reverse()
T1 = tuple(L1)

print("\nAfter reversing of tuple :- ", T1)
print(type(T1))

Before reversing of tuple :-  (1, 3, 4, 90.989, 90.989)
<class 'tuple'>

After reversing of tuple :-  (90.989, 90.989, 4, 3, 1)
<class 'tuple'>

In [29]:
# 10.Write a Python program calculate the product, by multiplying all the numbers of a given tuple. 
# Original Tuple : (4, 3, 2, 2, -1, 18)
T5 = (4, 3, 2, 2, -1, 18)
mul = 1
for i in T5:
    mul *= i
print("Tuple is :- ", T5)
print(type(T5),"\nProduct of all numbers of tuple :- ", mul)

Tuple is :-  (4, 3, 2, 2, -1, 18)
<class 'tuple'>
Product of all numbers of tuple :-  -864

In [38]:
# 11.Python – Adding Tuple to List and vice – versa.
lst = [1, 25, 36, 22]
tple = (26, 28, 12, 45)
lst1 = list(tple)
lst += lst1

print("List is :- ", lst)
print("Tuple is :- ", tple)
print("After adding tuple to list :- ", lst)
print(type(lst))

tple1 = lst1 + lst 
tple = tuple(tple1)
print("\nTuple is :- ", tple)
print("List is :- ", lst)
print("After adding list to tuple :- ", tple)
print(type(tple))

List is :-  [1, 25, 36, 22, 26, 28, 12, 45]
Tuple is :-  (26, 28, 12, 45)
After adding tuple to list :-  [1, 25, 36, 22, 26, 28, 12, 45]
<class 'list'>

Tuple is :-  (26, 28, 12, 45, 1, 25, 36, 22, 26, 28, 12, 45)
List is :-  [1, 25, 36, 22, 26, 28, 12, 45]
After adding list to tuple :-  (26, 28, 12, 45, 1, 25, 36, 22, 26, 28, 12, 45)
<class 'tuple'>

In [57]:
# 12.Python program to find tuples which have all elements divisible by K from a list of tuples.
lst1 = [(2, 4, 8, 16, 32), (64, 128, 256, 512, 1024), (2048, 4096, 8192, 16384), (16384, 32768, 65536, 131072)]
lst2 = []
print(lst1)
print(type(lst1))

k = int(input("Enter number(integer) to find tuples which have all elements divisible by that from above list of tuples :- "))

for i in lst1:
    t=0
    for j in i:
        if j%k!=0:
            t=1
    if t==0:
        lst2.append(i)

print("\nList of tuples which have all elements divided by ", k,":- " )
print(lst2)

[(2, 4, 8, 16, 32), (64, 128, 256, 512, 1024), (2048, 4096, 8192, 16384), (16384, 32768, 65536, 131072)]
<class 'list'>
Enter number(integer) to find tuples which have all elements divisible by that from above list of tuples :- 16384

List of tuples which have all elements divided by  16384 :-
[(16384, 32768, 65536, 131072)]

In [63]:
# 13.Python – Removing duplicates from tuple.

tpl = (25, 25, 52, 45, 45, 52, 95, 75, 455, 52)
lst1 = tuple(tpl)
lst2 = [lst1[0]]

for i in range(len(lst1)):
    for j in range(1, len(lst1)):
        if lst1[i] == lst1[j] :
            continue
        else:
            lst2.append(lst1[i])
print(lst2)

[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 52, 52, 52, 52, 52, 52, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 52, 52, 52, 52, 52, 52, 95, 95, 95, 95, 95, 95, 95, 95, 75, 75, 75, 75, 75, 75, 75, 75, 455, 455, 455, 455, 455, 455, 455, 455, 52, 52, 52, 52, 52, 52]

In [87]:
# 13.Python – Removing duplicates from tuple.

tpl = (25, 25, 52, 45, 45, 52, 95, 75, 455, 52)
lst1 = list(tpl)
t1=0
t2=0
print("Tuple (Before removing duplicates) :- \n", tpl)
for i in lst1:
    t1=0
    t2=0
    for j in lst1:
        if i==j:
            t1+=1
            t2=i
    if t1>1:
        for k in range(t1-1):
            lst1.remove(t2)
tpl = tuple(lst1)
print("\nTuple (After removing duplicates) :- \n", tpl)

Tuple (Before removing duplicates) :-
 (25, 25, 52, 45, 45, 52, 95, 75, 455, 52)

Tuple (After removing duplicates) :-
 (25, 45, 95, 75, 455, 52)