In [1]:
# WAP to print count from -10 to 10 using for loop
for i in range(-10, 11, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [3]:
# WAP to print count from 10 to -10 using for loop
for i in range(10, -11, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [5]:
# WAP to print count from 1 to 100 by skipping 1 number
for i in range(1, 101, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [11]:
# WAP to show even and odd number from 1 to 100 and count how much are even and how much are odd
c_even = 0
c_odd = 0
for i in range(1, 101):
    if i%2==0:
        print("EVEN -:> ", i)
        c_even+=1
    else:
        print("ODD -:> ", i)
        c_odd+=1
print("\nTotal number of even numbers is :- ", c_even)
print("Total number of odd numbers is :- ", c_odd)

ODD -:>  1
EVEN -:>  2
ODD -:>  3
EVEN -:>  4
ODD -:>  5
EVEN -:>  6
ODD -:>  7
EVEN -:>  8
ODD -:>  9
EVEN -:>  10
ODD -:>  11
EVEN -:>  12
ODD -:>  13
EVEN -:>  14
ODD -:>  15
EVEN -:>  16
ODD -:>  17
EVEN -:>  18
ODD -:>  19
EVEN -:>  20
ODD -:>  21
EVEN -:>  22
ODD -:>  23
EVEN -:>  24
ODD -:>  25
EVEN -:>  26
ODD -:>  27
EVEN -:>  28
ODD -:>  29
EVEN -:>  30
ODD -:>  31
EVEN -:>  32
ODD -:>  33
EVEN -:>  34
ODD -:>  35
EVEN -:>  36
ODD -:>  37
EVEN -:>  38
ODD -:>  39
EVEN -:>  40
ODD -:>  41
EVEN -:>  42
ODD -:>  43
EVEN -:>  44
ODD -:>  45
EVEN -:>  46
ODD -:>  47
EVEN -:>  48
ODD -:>  49
EVEN -:>  50
ODD -:>  51
EVEN -:>  52
ODD -:>  53
EVEN -:>  54
ODD -:>  55
EVEN -:>  56
ODD -:>  57
EVEN -:>  58
ODD -:>  59
EVEN -:>  60
ODD -:>  61
EVEN -:>  62
ODD -:>  63
EVEN -:>  64
ODD -:>  65
EVEN -:>  66
ODD -:>  67
EVEN -:>  68
ODD -:>  69
EVEN -:>  70
ODD -:>  71
EVEN -:>  72
ODD -:>  73
EVEN -:>  74
ODD -:>  75
EVEN -:>  76
ODD -:>  77
EVEN -:>  78
ODD -:>  79
EVEN -:>  80
ODD -:>  81
EVEN -:>  82
ODD -:>  83
EVEN -:>  84
ODD -:>  85
EVEN -:>  86
ODD -:>  87
EVEN -:>  88
ODD -:>  89
EVEN -:>  90
ODD -:>  91
EVEN -:>  92
ODD -:>  93
EVEN -:>  94
ODD -:>  95
EVEN -:>  96
ODD -:>  97
EVEN -:>  98
ODD -:>  99
EVEN -:>  100

Total number of even numbers is :-  50
Total number of odd numbers is :-  50

In [14]:
# WAP to print the table of given number
num = int(input("Enter any number :- "))
for i in range(1,11):
    print(num*i)

Enter any number :- 25
25
50
75
100
125
150
175
200
225
250

In [22]:
# WAP to reverse the string
str1="REVERSE"
str2=""
for i in str1:
    str2+=i
    print(str2)
print(str2)

R
RE
REV
REVE
REVER
REVERS
REVERSE
REVERSE

In [33]:
# WAP to check if string is palindrome
str1 = "reverse"
str2 = ""
str3 = ""
for i in str1:
    str2=i+str2 # Point to be noted 
    str3=str3+i # Point to be noted
    print(str2)
print(str2)
print(str3)

r
er
ver
ever
rever
srever
esrever
esrever
reverse

In [1]:
# wap to find the number of digits in 784539.
num = 784539
count = 0

# for i in range(6):
#     num=num/10
#     count+=1
# print(count)

while num>0:
    num=num/10
    count+=1
print(count)

330

In [5]:
num = 784539
count = 0
while num>1:
    num=num/10
    count+=1
print(count)

6